doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="css/bootstrap.min.css" rel="stylesheet")
  body
    .container.px-4.py-5
      p I'm still working to finalize everything. Links:
      ul
        li
          a(href="https://github.com/thorny-thorny/two-colored-range") Source code
        li
          a(href="/docs") Documentation
        li
          a(href="/tests") Tests report
        li
          a(href="/visualizer") Visualizer
